{$N8N_HOST} {
	reverse_proxy n8n:5678 {
		flush_interval -1
	}
	encode gzip
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		-Server
	}
}
